{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [my_app]}
]}.

% for Rust
{plugins, [rebar3_cargo]}.
{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}}
    ]}
]}.
{cargo_opts, [
    {release, true},     % 强制使用 release 模式
    {debug, false},       % 强制使用 debug 模式
    {skip, false},       % 跳过 cargo 构建
    {src_dir, "."},      % Rust 源码目录，默认为项目根目录
    {load_from_app, my_app} % 指定从哪个应用加载 NIF
]}.
